body {
    font-family: 'Poppins, Helvetica, sans-serif';
    background-image: url(imagem/garoto.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
     
}

h1 {
    color:#111;
    font-size:x-large ;
    text-align: left;
    font-size: 45px;
    font-style: italic;
}

h2 {
    color:#111;
    font-size:x-large ;
    font-size: 25px;
    font-style: normal;
}

h3 {
    color: #111;
    font-size:x-large ;
    font-size: 25px;
    font-style: normal;
}

form {
    display: flex;
    
  }
 

.input-hover:hover {
    border-color: #111;
    background:#111;
    display: inline-flex;
    color:#ffffff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    
    display: block;
    text-align: left;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    color: rgb(25, 22, 238);
    font-size: 25px;
    margin-top: 5rem;
    margin-bottom: 2px;
  }

  a:hover {
    color:#cd0505; 
}

.rodape {

    height:30vh;
    color: rgb(13, 93, 163);
    background-color: rgb(217, 189, 147);
    border-top: 1px solid #390404;
    display: flex;
    align-items: center;
    padding-left: 5%;
    

    
}

.contato{
    display: block;
    text-align: center;
    font-size: 16px;
    justify-items: auto;
}

.footer ul {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    
}
.redes-sociais ul{
    list-style-type:none;
    display: flex;
    height: 100%;
    width: 30%; 
     
}
.redes-sociais{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.redes-sociais ul li {
    margin-bottom: 8px;
    box-sizing: border-box;
    width: calc(100% / 3);
    height: 90%; 
    margin-top: -3rem;
    justify-content: center;
    
  
}
/*largura-altura da imagem do icone*/
.icone{
    width: 80%;
    height: 100%;
}

.imagem{
width: 100%; 
height: 50%;

}
/*margem do copy hite e dados de contato*/
.direitos-reservados{
    margin-top: 4rem;
    
}
.direitos-reservados p{
    font-weight: bold;
    color: black;
   
}


  /* Responsivo */
  
  @media screen and (max-width: 768px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    input[type="login"],
    input[type="passconfirm"],
    input[type="Limpar"],
    textarea {
    width: 100%;
    }
    .rodape{
        margin: 0;
    }

}