/*CSS DO CONTATO*/


main{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.img{
    width: 60vw;
    height: 100%;
    background-image: url(imagem/Loira.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
       
}

form {
    display: flex;
    margin-top: -1rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1b0cf5c0;
    font-size: 30px;
    height: 94%;
    width: 40vw;
  
}
legend h2{
    margin-top: 4rem;
  
   
}
.form{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*CAIXA DE TEXTO*/
.caixa {

    align-items: center;
    margin: 0.5rem;
    text-decoration-color:#1b0cf5c0;
    color:#1b0cf5c0;
    font-size: 30px;
    
}

/*BOTÃO ENVIAR*/
.botao {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0.5px;
}
/*MAPA*/
h3 {
    margin-top: 10rem;
    text-align: center;
    font-family: sans-serif,Verdana, Geneva, Tahoma;
}
iframe {
    margin-left: 32%;
    margin-top: -1rem;
    margin-bottom: 5rem;

}

/*CLICK VOLTAR*/
.voltar {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color:#1b0cf5c0;
    text-decoration:none;
    font-size: 20px;
    margin-bottom: 3px;
    
    
}
.voltar :hover{
    color:#cd0505; 
    text-decoration:none; 
}


@media screen and (max-width: 768px){
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    img[alt="imagem"],
    textarea {
        width: 100%;
    }
    img{
        display: none;
    }
    
}