/*CSS DO CONTATO*/


main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.img-e-formulario {
    display: flex;
    width: 100%;
    height: 100vh;
}
.img{
    width: 60vw;
    height: 100%;
    background-image: url(imagem/Loira.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
       
}

form {
    display: flex;
    margin-top: -1rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1b0cf5c0;
    font-size: 30px;
    height: 94%;
  
}
legend h2{
    margin-top: 4rem;
  
   
}
.form{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*CAIXA DE TEXTO*/
.caixa {

    align-items: center;
    margin: 0.5rem;
    text-decoration-color:#1b0cf5c0;
    color:#1b0cf5c0;
    font-size: 30px;
    
}

/*BOTÃO ENVIAR*/
.botao {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0.5px;
}
/*MAPA*/
h3 {
    margin-top: 10rem;
    text-align: center;
    font-family: sans-serif,Verdana, Geneva, Tahoma;

}

.subtitulo {
    text-align: center;
    margin-top: 2rem;
}

.map-responsive {
    display: flex;
    justify-content: center;
}

iframe {
    margin-top: -1rem;
    margin-bottom: 5rem;

}

/*CLICK VOLTAR*/
.voltar-link {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color:#1b0cf5c0;
    text-decoration:none;
    font-size: 20px;
    margin-bottom: 3px;
    
    
}
.voltar-link:hover {
    color:#cd0505; 
   
}


@media screen and (max-width: 480px){
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    img[alt="imagem"],
    textarea {
        width: 100%;
    }

    main {
        flex-direction: column;
    }
    .img{
        display: none;
    }

    h3 {
        margin: 0;
    }

    .form {
        width: 100%;
        height: 60vh;
    }

    form {
       
        height: fit-content;
        

    }
    
    .img-e-formulario {
        height: 100vh;
       
    }
}