*{
    margin: 0; padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-style: inherit;
    background-image: url(imagem/garota.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family:"niagato" ;
    src: url(Fonte/Niagato.ttf);
}

.texto{
  column-count: 1; /* Número de colunas */
  column-gap: 20px; /* Espaçamento entre as colunas */
  max-width: 600px; /* Largura máxima das colunas */
  margin: 0 auto; /* Centralizar o conteúdo */
  padding: 20px; /* Espaçamento interno */
  float: left;
  font-family: 'Poppins, Helvetica, sans-serif';
  text-align: justify;
  font-size: 1.5em;
  margin-top: -4rem;
}

/*responsivo*/

@media (max-width: 768px) {

.main {
  flex-direction: column; 
  align-items: center;
}

.descricao-loja {
  width: 100%; 
}

h2{
  margin-left: 10%;
  margin-right: 10%;
  

}
.titulo-texto h3{
  margin-left: 10%;
  margin-right: 10%;

}
   
}