
body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagem/Fukushima.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 200px;
    
}

h1{
    font-size: 50px;
    color: #ec0909;
    text-align: center;
    margin-right: 220px;
}

footer{
    text-decoration: nome; 
    color: #ebe5e9;
    font-size: 20px;
    margin-right: 800px;
 
    
   
} 
 a{
        text-decoration: nome; 
        color: rgba(243, 233, 233, 0.991);
        font-size: 20px;    
    } 

    /* Estilos do carrossel */
.carousel {
    width: 30%;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel,
 img {
    width: 30%;
    height: auto;
    margin-bottom: 1px;
   
}

.class button {
    align-items: center;
    display: flex;
    margin: left;
    margin-top: 0.5px;
}
