

body{
    
    font-family: arial, helvetica, sans-serif; 
    background-image: url("imagem/casal3.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 50px;
    }

  h1, h2{
    font-size: 30px;
    color: #772828;
    text-align: center;
    margin-right: 220px;
   }
   
   h4 { 
    margin-bottom: 1.5rem; margin-top: 1.5rem 
    }
   
   div{
    border:3px solid rgb(49, 26, 223);
    background-color: rgb(243, 225, 225);
   
   
   
    
   
  
   }


    /*respansivo*/

    @media (max-width:600px){

     .container {
         width: 100%;
         padding:10px;
         margin: bottom 10px;
         box-sizing:border-box;   
        } 
     h1, h2{
        text-align:center;
    }

    .card{
        text-align:center;
    }  
    }
    .footer{
        text-decoration: nome; 
        color: #2215dd;
        font-size: 20px;
        margin-right: 800px;
           
    }