/*Reset*/

*{
  margin: 0; padding: 0;

  }

@font-face {
 font-family:"niagato" ;
 src: url(Fonte/Niagato.ttf);
 }

.logo{
 width: 120px;
 height: 120px;
 border-radius: 120px;
 margin: 50px;
 margin-bottom: -6rem;
}
.carrinho{
  width: 50px;/*tamanho do carrinho*/
  height: 50px;/*tamanho do carrinho*/
  border-radius: 50px;
  margin-left: 90%;/*posição do carrinho-margem lateral*/
  margin-bottom: -4rem;/*margem entre o carrinho e os produtos*/

}
 .nome-loja h1{
  text-align:left;
  justify-content: left;
  color: #211c1c;
  font-size: x-large;
  font-family: 'Niagato';
  font-size: 70px;
  padding:80px;
  margin-top: 0;
  margin-bottom: -4rem;
 
 }

body{
    background-color: antiquewhite;
  }

  main{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
 
/*cabeçalho*/

h1,h3 {
text-align:center;
color: blue;
} 

h1 {
margin-top:50px;
margin-bottom:20px;
color: blue;

}
h4{
  margin-bottom: 1.5rem; margin-top: 1.5rem;
}
.titulo-certificados{
  margin-bottom: 0px;
}

/*galeria*/

.container {

width: 100%;  
text-align:center;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(3, 1fr);
grid-template-areas:
"prod1 prod2 prod3 prod4"
"prod5 prod6 prod7 prod8"
"prod9 prod10 prod11 prod12";
}

.produto-1 {
  grid-area: prod1;
  }
  .produto-2 {
  grid-area: prod2;
  }
  .produto-3 {
  grid-area: prod3;
  }
  .produto-4 {
  grid-area: prod4;
  }
  .produto-5 {
  grid-area: prod5;
  }
  .produto-6 {
  grid-area: prod6;
  }

  .produto-7 {
  grid-area: prod7;
  }
  .produto-8 {
  grid-area: prod8;
  }
  .produto-9 {
  grid-area: prod9;
  }
  .produto-10 {
  grid-area: prod10;
  }
  .produto-11 {
  grid-area: prod11;
  }
  .produto-12 {
  grid-area: prod12;
  }

.card {
border:2px solid rgb(21, 1, 48);
border-radius:5px;
}

.card-imagem:hover{
background-color: aliceblue;
color: rgb(18, 16, 15);
border-color: rgb(246, 164, 164);
}

.card-imagem {
height:300px;
width: 100%;
background-size:cover;
transition:.5s;

}

.produto-1 .card-imagem{
background-image:url(imagem/camisetab.jpg);
}
.produto-1 .card-imagem:hover{
background-image:url(imagem/camisetap.jpg);
}
.produto-2 .card-imagem{
background-image:url(imagem/blusa-moletom-capuz-senku-F.jpg);  
}
.produto-2 .card-imagem:hover{
background-image:url(imagem/blusa-moletom-capuz-senku-T.jpg);
}
.produto-3 .card-imagem{
background-image:url(imagem/camisa-sailor-F.jpg);      
}
.produto-3 .card-imagem:hover{
background-image:url(imagem/camisa-sailor-T.jpg);
} 
.produto-4 .card-imagem{
background-image:url(imagem/camisa-hunter-F.jpg);
}
.produto-4 .card-imagem:hover{
background-image:url(imagem/camisa-hunter-T.jpg);
}    
.produto-5 .card-imagem{
background-image:url(imagem/Manto-cosplay-1.jpg);
}
.produto-5 .card-imagem:hover{
background-image:url(imagem/capa-kimono-Slayer.jpg);
}    
.produto-6 .card-imagem{
background-image:url(imagem/manto-akatsuki.jpg);
}
.produto-6 .card-imagem:hover{
background-image:url(imagem/manto-akatsuki-F-T.jpg);
}    
.produto-7 .card-imagem{
background-image:url(imagem/fantasia-cosplay-tsunade.F-T.jpg);
}
.produto-7 .card-imagem:hover{
background-image:url(imagem/fantasia-cosplay-tsunade.webp);
}    
.produto-8 .card-imagem{
background-image:url(imagem/vestido-anime-adulto-1.jpg);
}
.produto-8 .card-imagem:hover{
background-image:url(imagem/vestido-anime-adulto-2.jpg);
}
.produto-9 .card-imagem{
background-image:url(imagem/brincos-spy-x-family.jpg);
}
.produto-9 .card-imagem:hover{
background-image:url(imagem/brincos-spy-x-family-1.jpg);
}
.produto-10 .card-imagem{
background-image:url(imagem/Caneca-Luffy.jpg);
}
.produto-10 .card-imagem:hover{
background-image:url(imagem/Caneca-Luffy-1.jpg);
}
.produto-11 .card-imagem{
background-image:url(imagem/Broche-Deku.jpg);
}
.produto-11 .card-imagem:hover{
background-image:url(imagem/Broche-Deku-1.jpg);
}
.produto-12 .card-imagem{
background-image:url(imagem/pulseira-bracelete-couro.jpg);
}
.produto-12 .card-imagem:hover{
background-image:url(imagem/pulseira-bracelete-couro-1.jpg);
}

.botao__comprar:hover{
background-color: rgba(127, 136, 129, 0.66);
color: rgba(51, 22, 194, 0.867);
border-color: rgb(154, 134, 241);

}
.botao__comprar{
border:4px solid rgb(99, 58, 214);
width:40%;
padding:0.3rem;
border-radius:10px;
}
.botao__comprar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-decoration: none;
   
  }
 
.card-description{
padding:20px 10px;

}  

.forma-pagamentos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  
}

.selo-segurancas-img{
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

}

.voltar-link {
  display: block;
  text-align: center;
  color:rgb(18, 6, 189);
  text-decoration:none;
  margin-top:5px;
  margin-bottom: 5px;
  transition:0.9s;
  font-size: 25px;

  }
   .voltar-link :hover{
    color:#cd0505;
    text-decoration:none;
  }

@media screen and (max-width: 480px){
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12,1fr);

  }
    .botao__comprar {
      display: flex;
      justify-content: center;
      width:50%;
    }
  
  }

@media screen and (max-width: 740px){
  .container{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);

  }
  .botao__comprar {
    display: flex;
    justify-content: center;
    width: 50%;
    
  }
  .carrinho{
    position:var(100%)
  }

}

@media screen and (max-width: 480px) {
  .container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, 1fr);
      width: 100%;
      row-gap: 10px;

      grid-template-areas:
      "prod1"
      "prod2"
      "prod3"
      "prod4"
      "prod5"
      "prod6"
      "prod7"
      "prod8"
      "prod9"
      "prod10"
      "prod11"
      "prod12"
  }
  .carrinho{
    position: var(100%);
  }

    .card {
      width: 100%;
    
    }
  
    .card-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .produto-1 {
      grid-area: prod1;
    }
    .produto-2 {
      grid-area: prod2;
    }
    .produto-3 {
      grid-area: prod3;
    }
    .produto-4 {
      grid-area: prod4;
    }
    .produto-5 {
      grid-area: prod5;
    }
    .produto-6 {
      grid-area: prod6;
    }
    .produto-7 {
      grid-area: prod7;
    }
    .produto-8 {
      grid-area: prod8;
    }
    .produto-9 {
      grid-area: prod9;
    }
    .produto-10 {
      grid-area: prod10;
    }
    .produto-11 {
      grid-area: prod11;
    }
    .produto-12 {
      grid-area: prod12;
    }
  }




