body {
    margin: 0;
    background-color: rgb(250, 235, 215);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(247, 242, 235);
    border-bottom: 1px solid #390404;
}

main {
    height: 100vh;
    width: 100vw;
}

.texto {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    padding-top: 5rem;
    text-align: justify;
    
  
    
}

.minha-historia {
    text-align: center;
}

.img-titulo {
    display: flex;
    align-items: center;
    height: 200px;

}

h2 {
    font-size: 3rem;
}


.voltar {
    text-align: center;
    font-size: 1.5rem;
}

b {
    color: rgb(18, 6, 189);
}

@media (max-width: 768px) {

    main {
        flex-direction: column;
        height: 170vh;
    }
    .minha-historia{
        margin-bottom: -8rem;
    }

    .img-titulo {
        flex-direction: column;
        height: fit-content;
    }

    .img-titulo img {
        height: 10%;
        margin-top: 7rem;
    }
    h2{
        font-size: 25px;
    }

    .texto {
        width: 90%;
        padding-top: 3rem;
        text-align: justify;
    }
}

@media (max-width: 355px) {

    main {
        flex-direction: column;
        height: 220vh;
    }
    .minha-historia{
        margin-bottom: -8rem;
    }

    .img-titulo {
        flex-direction: column;
        height: fit-content;
    }

    .img-titulo img {
        height: 10%;
        margin-top: 7rem;
    }
    h2{
        font-size: 25px;
    }

    .texto {
        width: 90%;
        padding-top: 3rem;
        text-align: justify;
    }
}




.descricao-loja {
    width: 100%;
}

a.back-to-home {
    display: inline-block;
    background-color: rgb(241, 217, 186);
    color: rgb(18, 6, 189);
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-radius: 15px;
    border: 3px solid rgb(13, 93, 163);
    position: relative;
    bottom: 20px;
    z-index: 1000;
    cursor: pointer;

}

a.back-to-home:hover {
    color: #cd0505;
}