*{
  margin: 0; padding: 0;

}

body {
 
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(227, 201, 170);
}
header{
  width: 100%;
  height: 10rem;
  background-color: rgb(247, 242, 235);
  border-bottom: 1px solid #390404;
}

@font-face {
  font-family:"niagato" ;
  src: url(Fonte/Niagato.ttf);
}
.logo{
  width: 120px;
  height: 120px;
  border-radius: 120px;
  margin: 15px;
}
 .nome-loja h1{
  margin-left: -10rem;
  margin-top: -2vh;
  text-align:left;
  color: #211c1c;
  font-family: 'Niagato';
  font-size: 70px;
   
}

.titulo h3{
  text-align: left;
  margin: 20px;
  color: #121111;
  font-size: 30px;
  margin-top: 10px;
  
}
.menu {
list-style:none; 
border: 20px;
color: #c0c0c0; 
float:right; 
font-weight: bold;
gap: 1px;
margin-bottom: 35px;
margin-top: -8rem;
}

.menu li{
position:relative;
float:right;
border-right:1px solid #c0c0c0; 
} 

.menu li a{
   color:#0f0f8d; 
   text-decoration:none; 
   padding:5px 10px; 
   display:block;  
   margin-right:3px;
   font-size: 15px;
   margin-top: 10rem;
}

.menu li a:hover{
color:#cd0562;

text-shadow:0px 0px 5px  #1506b9;
} 
.menu li ul{
   position:absolute; 
   top:25px; 
   left:0;
   background: color #f0111c;
   display:none;
   }
       
.menu li:hover ul, .menu li.hover ul{display:block;} 
        
.menu li ul li{
   border:1px; 
   color: #c0c0c0;
   display:block; 
   width:150px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 5px;
  
}

nav a {
  color: #1506b9;
  text-decoration: none;
}

  section h2 {
    padding: 20px;
    text-align: center;
    font-size: 35px;
    margin-top: 5rem;
  } 
  section {
    padding: 20px;
    
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  fieldset {
    margin-bottom: 20px;
 
  }
  
  legend {
    font-weight: bold;
    
  }
  
  label,
  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
  
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
   
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #cdcbd9;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .voltar-link {
    color: #350cd9;
    text-decoration: none;
    font-size: 20px;
    transition:0.9s;
    
  }
  .voltar-link:hover{
    color: #ea1a21;
  }
  

  /* Estilo para dispositivos móveis */
  @media screen and (max-width: 600px) {
    header {
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    a{
      margin-top: 3rem;
      margin-bottom: -1rem;
  } 
    
  }
